<div class="row mt-3">
  <div class="col-xs-12">
    <h2>Active Users</h2>
    <ul class="list-group mt-2">
      <li class="list-group-item" *ngFor="let user of users; let i = index">
        {{user.name}} |
        <a href="javascript:void(0)" (click)="setInactive(i)">Set to Inactive</a>
      </li>
    </ul>
  </div>
</div>
