<div class="container">
  <div class="row mb-2">
    <div class="col-xs-12">
      <label class="form-label">Filter</label>
      <input type="text" class="form-control" [(ngModel)]="filterString">
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="addServer()">Add Server</button>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-xs-12">
      <h2>Server Status: {{appAsyncStatus | async}}</h2>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-sm-12">
      <ul class="list-group">
        <li class="list-group-item d-flex mb-1"
            [ngClass]="server.status === 'stable' ? 'list-group-item-success' : 'list-group-item-warning'"
            *ngFor="let server of servers | filter:filterString:'status' | sort:['name']">
          <div class="me-auto">
            {{server.name | shorten:10}} | {{server.instanceType | uppercase | reverse}} | {{server.started | date:'fullDate'}}
          </div>
          <span class="badge bg-secondary rounded-pill">{{server.status}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
