<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Bind it!</h3>
      <ol>
        <li>Create three new components: GameControl, Odd and Even</li>
        <li>The GameControl Component should have buttons to start and stop the game</li>
        <li>When starting the game, an event (holding a incrementing number) should get emitted each second (ref = setInterval())</li>
        <li>The event should be listenable from outside the component</li>
        <li>When stopping the game, no more events should get emitted (clearInterval(ref))</li>
        <li>A new Odd component should get created for every odd number emitted, the same should happen for the Even Component (on even numbers)</li>
        <li>Simply output Odd - NUMBER or Even - NUMBER in the two components</li>
        <li>Style the element (e.g. paragraph) holding your output text differently in both components</li>
      </ol>
    </div>
  </div>
  <hr>
  <app-game-control [numbers]="numbers"></app-game-control>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-3">
      <ul class="list-group mt-2" *ngFor="let number of numbers">
        <ng-template [ngIf]="number % 2 !== 0">
          <app-odd [value]="number"></app-odd>
        </ng-template>
        <ng-template [ngIf]="number % 2 === 0">
          <app-even [value]="number"></app-even>
        </ng-template>
      </ul>
    </div>
  </div>
</div>
