<div class="row justify-content-center">
  <div class="col-xs-12 col-md-3">
    <button class="btn btn-success me-2" (click)="start()">Start</button>
    <button class="btn btn-danger" (click)="stop()">Stop</button>
  </div>
</div>
