<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul>
        <li>Add a Form with the following Inputs (and Validators)</li>
        <li>1) Mail address (should not be empty and should be an email address)</li>
        <li>2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")</li>
        <li>Set "Advanced" as Default</li>
        <li>3) A Password field (should not be empty)</li>
        <li>4) A Submit Button</li>

        <li>Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.</li>

        <li>Upon submitting the form, you should simply print the Value of the Form to the Console.</li>
        <li>Optionally, display it in your template.</li>
      </ul>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-12">
      <form #formModel="ngForm" (ngSubmit)="submitForm(formModel)" [ngClass]="wasValidated ? 'was-validated': ''">
        <div class="mb-3">
          <label class="form-label" for="email">Email</label>
          <input class="form-control" type="text" id="email" name="email" required ngModel email #emailModel="ngModel">
          <div class="invalid-feedback d-block" *ngIf="!emailModel.valid && emailModel.touched">Please enter a valid email.</div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="plan">Subscription Plan</label>
          <select class="form-select" id="plan" name="plan" [ngModel]="plan">
            <option *ngFor="let plan of plans" value="{{plan.value}}">{{plan.text}}</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label" for="password">Password</label>
          <input class="form-control" type="password" id="password" name="password" required ngModel #passwordModel="ngModel">
          <div class="invalid-feedback d-block" *ngIf="!passwordModel.valid && passwordModel.touched">Please enter a password.</div>
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="!isValid && wasValidated">Please complete all required fields.</div>
  <div class="row" *ngIf="isValid && wasValidated">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div><strong>Email:</strong> {{user.email}}</div>
          <div><strong>Subscription Plan:</strong> {{user.plan}}</div>
          <div><strong>Password:</strong> {{user.password}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
