<ol>
  <li><a routerLink="/components">Components</a></li>
  <li><a routerLink="/databind">Data Binding</a></li>
  <li><a routerLink="/directives">Directives</a></li>
  <li><a routerLink="/component-databind">Component Data Binding</a></li>
  <li><a routerLink="/services">Services</a></li>
  <li><a routerLink="/td-forms">Template Driven Forms</a></li>
  <li><a routerLink="/reactive-forms">Reactive Forms</a></li>
  <li><a routerLink="/pipes">Pipes</a></li>
</ol>

<router-outlet></router-outlet>
