<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul>
        <li>Create a Form with the following Controls and Validators</li>
        <li>1) Project Name (should not be empty)</li>
        <li>2) Mail (should not be a empty and a valid email)</li>
        <li>3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'</li>
        <li>4) Submit Button

        <li>Add your own Validator which doesn't allow "Test" as a Project Name</li>

        <li>Also implement that Validator as an async Validator (replace the other one)</li>

        <li>Upon submitting the form, simply print the value to the console</li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row mb-3">
    <div class="col-sm-12">
      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="mb-3">
          <label for="name" class="form-label">Project Name</label>
          <input type="text" id="name" name="name" class="form-control" formControlName="name">
          <div class="invalid-feedback d-block" *ngIf="!form.get('name')?.valid && form.get('name')?.touched">Please enter a valid name.</div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" id="email" name="email" class="form-control" formControlName="email">
          <div class="invalid-feedback d-block" *ngIf="!form.get('email')?.valid && form.get('email')?.touched">Please enter a valid email.</div>
        </div>
        <div class="mb-3">
          <label for="status" class="form-label">Project Status</label>
          <select name="status" id="status" class="form-select" formControlName="status">
            <option *ngFor="let status of statuses" value="{{status.value}}">{{status.text}}</option>
          </select>
          <div class="invalid-feedback d-block" *ngIf="!form.get('status')?.valid && form.get('status')?.touched">Please enter a valid status.</div>
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
