<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Optimize this app by adding a UsersService which manages the active and inactive users.</li>
        <li>Also add a CounterService which counts the number of active->inactive and inactive->active actions.</li>
      </ol>
    </div>
  </div>
  <hr>
  <app-active-users [users]="activeUsers"></app-active-users>
  <app-inactive-users [users]="inactiveUsers"></app-inactive-users>
</div>
